/* Oswald */
@font-face {
  font-family  :  'oswald';
  src          :  url('../../public/fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight  :  100;
}
@font-face {
  font-family  :   'oswald';
  src          :   url('../../public/fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight  :   300;
}
@font-face {
  font-family  :   'oswald';
  src          :   url('../../public/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight  :   400;
}
@font-face {
  font-family  :   'oswald';
  src          :   url('../../public/fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
  font-weight  :   600;
}
@font-face {
  font-family  :   'oswald';
  src          :   url('../../public/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight  :   700;
}

/* Alegreya Sans SC */
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Thin.ttf') format('truetype');
  font-weight   :   100
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-ThinItalic.ttf') format('truetype');
  font-weight   :   100;
  font-style    :   italic;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Light.ttf') format('truetype');
  font-weight   :   300
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-LightItalic.ttf') format('truetype');
  font-weight   :   300;
  font-style    :   italic;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf') format('truetype');
  font-weight   :   400;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Italic.ttf') format('truetype');
  font-weight   :   400;
  font-style    :   italic
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Medium.ttf') format('truetype');
  font-weight   :   500;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-MediumItalic.ttf') format('truetype');
  font-weight   :   500;
  font-style    :   italic;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf') format('truetype');
  font-weight   :   700;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-BoldItalic.ttf') format('truetype');
  font-weight   :   700;
  font-style    :   italic;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-ExtraBold.ttf') format('truetype');
  font-weight   :   800;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-ExtraBoldItalic.ttf') format('truetype');
  font-weight   :   800;
  font-style    :   italic;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Black.ttf') format('truetype');
  font-weight   :   900;
}
@font-face {
  font-family   :   'alegreya sans';
  src           :   url('../../public/fonts/Alegreya_Sans_SC/AlegreyaSansSC-BlackItalic.ttf') format('truetype');
  font-weight   :   900;
  font-style    :   italic;
}

/* Palanquin */
@font-face {
  font-family   :   'palanquin';
  src           :   url('../../public/fonts/Palanquin/Palanquin-Thin.ttf') format('truetype');
  font-weight   :   100;
}
@font-face {
  font-family   :   'palanquin';
  src           :   url('../../public/fonts/Palanquin/Palanquin-ExtraLight.ttf') format('truetype');
  font-weight   :   200;
}
@font-face {
  font-family   :   'palanquin';
  src           :   url('../../public/fonts/Palanquin/Palanquin-Light.ttf') format('truetype');
  font-weight   :   300;
}
@font-face {
  font-family   :   'palanquin';
  src           :   url('../../public/fonts/Palanquin/Palanquin-Regular.ttf') format('truetype');
  font-weight   :   400;
}
@font-face {
  font-family   :   'palanquin';
  src           :   url('../../public/fonts/Palanquin/Palanquin-Medium.ttf') format('truetype');
  font-weight   :   500;
}
@font-face {
  font-family   :   'palanquin';
  src           :   url('../../public/fonts/Palanquin/Palanquin-SemiBold.ttf') format('truetype');
  font-weight   :   600;
}
@font-face {
  font-family   :   'palanquin';
  src           :   url('../../public/fonts/Palanquin/Palanquin-Bold.ttf') format('truetype');
  font-weight   :   700;
}

body {
  margin: 0;
  font-family: 'oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
p, span {
  font-family: 'palanquin';
}

.font-1{
  font-family: 'oswald';
}
.font-2{
  font-family: 'alegreya sans';
}
.font-3{
  font-family: 'palanquin';
}

/* Firefox css styling */
:root{
  scrollbar-color: rgb(5, 5, 5) rgba(0, 0, 0, 0.5) !important;
  scrollbar-width: thin;
  scroll-behavior: smooth!important;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(50, 50, 50);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(9, 9, 9);
  border-radius: 20px;
  margin: 4px 4px;
}

.icon-5 {
  margin-left: 5px;
  margin-bottom: 5px;
}

.custom-divider::before {
  background: #000;
  content: "";
  flex: 1 1;
  height: .125em;
  margin: 0 .25em -.1rem 0;
}

.custom-divider {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -.5rem 1em .3rem 1rem;
}

.custom-divider::after {
  background: #000;
  content: "";
  flex: 1 1;
  height: .125em;
  margin: 0 0 -.1rem .25em;
}
.no-text-decoration {
  text-decoration: none!important;
  cursor: pointer;
}
.icon-8 {
  margin-left: 8px;
  margin-bottom: 8px;
}

.border-none{
  border: none!important;
}
.border-none:hover{
  border: none!important;
}


/* .creator-nav-link.active, .creator-nav-link.active > a {
  background-color: white;
  color: black!important;
}

.creator-nav-link {
  padding: 0 8px;
}

.creator-nav-link:hover > a {
  color: rgb(150,150,150)!important;
}

.creator-nav-link > a {
  color: white!important;
  transition: .15s;
}

@media (min-width: 992px) {
  .creator-nav-link {
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .creator-nav-link {
    padding: 0 60px;
  }
}

@media (min-width: 1400px) {
  .creator-nav-link {
    padding: 0 100px;
  }
} */


#seamless-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: opacity(0.02);
  z-index: -100;
}

.product.out-of-stock {
  background-color: rgb(30,30,30);
  box-shadow: 1px 1px rgb(82, 82, 82), 2px 2px rgb(82, 82, 82), 3px 3px rgb(82, 82, 82), 4px 4px rgb(82, 82, 82), 5px 5px rgb(82, 82, 82), 6px 6px rgb(82, 82, 82), 7px 7px rgb(82, 82, 82), 8px 8px rgb(82, 82, 82)!important;
}

/* #product-info-name {
  width: fit-content;
  background-color: rgb(180,180,180);
  padding: 4px 12px;
} */

.custom-black-select {
  font-family: 'Oswald', sans-serif;
  background-color: black!important;
  color: white;
  border-radius: .25rem;
  padding: 3px 4px 4px 4px;
  text-align: center;
  border: 1px solid black;
  -webkit-appearance: none;

  background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6I2ZmZjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=') no-repeat 95% 50%;
	-moz-appearance: none; 
}

/* .custom-black-accordion {
  background-color: white;
  color: black;
}

.custom-black-accordion > .accordion-header > * {
  background-color: white!important;
  color: black;
  box-shadow: none!important;
}

.custom-black-accordion .accordion-body {
  background-color: black;
  color: white;
} */
/* .custom-black-accordion .accordion-button{
  background-color: white!important;
  color: black!important;
}
.custom-black-accordion .accordion-button:focus {
  background-color: white!important;
  color: black!important;
} */

input, select {
  font-family: 'Oswald', sans-serif!important;
}
.pointer{ cursor: pointer!important; }

.no-box-shadow, .no-box-shadow:focus{
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
}

.borderless-input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom-width: 2px;
}
.borderless-input:active, .borderless-input:focus{
  outline: none!important;
  border-bottom: none;
}