#admin-profile-parent {
    padding: 20px;
}

#admin-profile-image {
    margin: auto;
    height: 50vh !important;
    max-width: 100%;
    object-fit: cover;
    grid-area: content;
    filter: opacity(0.75);
}
#admin-profile-image-parent:hover #admin-profile-image{
    filter: opacity(0.6)!important;
}

#admin-profile-image-text {
    grid-area: content;
    top: 50%;
    left: 50%;
    position: relative;
    z-index: 100;
    width: fit-content;
    height: min-content;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

#admin-profile-image-parent {
    display: grid;
    grid-template-areas: "content";
    cursor: pointer;
    background-color: rgb(30,30,30);
}

.admin-profile-shipping {
    display: grid;
    width: 100%;
    grid-template-columns: 55% 20% 25%;
}

@media(min-width: 768px) {
    #admin-profile-parent {
        width: 60vw !important;
        margin: auto;
    }
}

@media(min-width: 1200px) {
    #admin-profile-parent {
        width: 40vw !important;
        margin: auto;
    }
}
