.link {
  font-family: 'oswald';
  font-weight: 600!important;
  text-decoration: none;
  font-size: 2rem;
}

.inactive {
  color: rgb(150,150,150)!important;
  transition: .2s;
}

.inactive:hover{
  color: rgb(190,190,190)!important;
}

.dropdownMenu{
  border:none!important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdownItem{
  font-family: 'oswald';
  font-weight: 400;
  font-size: 1rem;
  color: rgb(240,240,240);
  text-decoration: none;
  transition: .2s;
  width: 100%;
  display: block;
  padding: 4px 0 6px 0;
}
.dropdownItem:hover{
  color: rgb(40,40,40)!important;
  background-color: rgb(230,230,230);
}

.signOutIcon{
  position: relative;
  top: 2px;
  color: rgb(210,210,210);
  transition: .2s;
}
.signOutButton:hover .signOutIcon{
  color: rgb(245,245,245);
}
.signOutButton:hover{
  outline: none!important;
  border: none!important;
}
.signOutButton{
  border:none!important;
}