#products-page{
    position: absolute;
    top: 12%;
}
#products{
    width: 100vw;
    display: grid;
    padding: 1rem;
}
.product{
    display: grid;
    height: 40vh;
    grid-template-rows: 80% 20%;
    place-items: center;
}
.product-image{
    height: 100%;
    object-fit: cover;
    width: 80%;
    margin-bottom: 1rem;
}
.product-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
