#parent{
    position: absolute;
    top: 12%;
    max-width: 100vw;
    width: 100vw;
}
#creator-nav{
    background-color: rgb(10,10,10);
    width: 77.5%;
    position: fixed;
    z-index: 999;
    top: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-auto-flow: column;
    box-sizing: content-box;
    overflow: hidden;
}

.creator-nav-link{
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
}
.creator-nav-link.active{
    background-color: rgb(230,230,230);
    color: rgb(10,10,10)!important;
}
.creator-nav-link:hover {
    background-color: rgb(240,240,240);
    color: rgb(10,10,10)!important;
}