@media screen and (min-width: 1224px) {
    #login{
        width: 30vw!important;
        place-self: center!important;
    }
}

.forgot-password-link{
    font-size: .8rem!important;
    text-decoration: underline;
    cursor: pointer;
    transition: .15s;
}
.forgot-password-link:hover{
    color: rgb(100,100,100);
}

#login{
    width: 100vw;
    height: 90vh;
    display: grid;
    align-content: center;
    padding: 3rem;
}
#no-account{
    width: 100%;
    text-align: center;
}
#create-account-link{
    color: rgb(202, 0, 0);
    cursor: pointer;
    transition: .15s;
}
#create-account-link:hover{
    color: rgb(140,0,0);
}