#login-form {
    padding: 25px 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

#login-parent {
    height: 100%;
    width: 100vw;
    display: grid;
    align-items: center;
    padding: 20px;
}

.instagram-button {
    background: linear-gradient(to right, rgba(64, 93, 230, 1) 0%, rgba(88, 81, 219, 1) 20%, rgba(131, 58, 180, 1) 40%, rgba(193, 53, 132, 1) 60%, rgba(225, 48, 108, 1) 80%, rgba(253, 29, 29, 1) 100%);
    background: -webkit-linear-gradient(to right, rgba(64, 93, 230, 1) 0%, rgba(88, 81, 219, 1) 20%, rgba(131, 58, 180, 1) 40%, rgba(193, 53, 132, 1) 60%, rgba(225, 48, 108, 1) 80%, rgba(253, 29, 29, 1) 100%);
    background: -moz-linear-gradient(to right, rgba(64, 93, 230, 1) 0%, rgba(88, 81, 219, 1) 20%, rgba(131, 58, 180, 1) 40%, rgba(193, 53, 132, 1) 60%, rgba(225, 48, 108, 1) 80%, rgba(253, 29, 29, 1) 100%);
    background: -o-linear-gradient(to right, rgba(64, 93, 230, 1) 0%, rgba(88, 81, 219, 1) 20%, rgba(131, 58, 180, 1) 40%, rgba(193, 53, 132, 1) 60%, rgba(225, 48, 108, 1) 80%, rgba(253, 29, 29, 1) 100%);
    -webkit-appearance: none;
    border: none;
    padding: 6px;
}

#create-account-button {
    cursor: pointer;
}

#create-account-parent {
    width: 100vw;
    height: 100%;
    display: grid;
    align-items: center;
    padding: 10px;
}

@media(min-width: 992px) {
    #login-parent {
        width: 48vw !important;
        margin: auto;
    }
}
@media(min-width: 1200px) {
    #login-parent {
        width: 36vw!important;
    }
}
