@media screen and (min-width: 1224px) {
    .custom-carousel-classses{
        width: 60%!important;
        align-self: center;
        justify-self: center;
        height: 90vh!important;
    }
    .item{ display: grid; width: 100%!important; height: auto!important; }
    #product-image{
        height: 100%!important;
        justify-self: center;
    }
    #product-info-details-add{
        width: 100%!important;
    }
    #product-parent{
        grid-template-columns: 70% 30%;
        grid-template-rows: 90vh!important;
    }
    #product-info{
        width: auto!important;
        place-content: initial!important;
        padding: 0 2rem;
    }
    #product-info{
        place-items: center!important;
        height: fit-content;
        place-self: center;
        width: 100%!important;
    }
    #product-sizing{
        margin-bottom: 1rem;
    }
}
#product-info-details-add{
    display: grid;
    align-content: center;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
}
#product-parent{
    height: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 65% 35%;
    
}
#product-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#product-info{
    width: 100%;
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    place-content: center;
    grid-template-rows: 1fr 5fr;
}
#product-count{
    align-self: center;
}
#product-sizing{
    display: grid;
    justify-content: center;
    align-content: start;
    width: 100%;
    grid-auto-flow: column;
}
.product-sizing-item{
    border: 1px solid black;
    width: fit-content;
    padding: 3px 5px 4px 5px;
    cursor: pointer;
    transition: .15s;
}
.product-sizing-item.active{
    background-color: black;
    color: white;
}
.product-sizing-item:hover{
    background-color: rgb(75,75,75 );
    color: white;
}
.product-sizing-item-left{
    border-right: none;
}
.product-price{
    align-self: center;
}

.item{
    width: 100vw;
    height: 50vh;
}
.carousel{
    height: auto!important;
}