@media screen and (min-width: 1224px) {
    #shopping-basket{
        width: 60%!important;
        place-self: center!important;
    }
    #shopping-basket-totals{
        width: 60%!important;
    }
}

#shopping-basket{
    width: 100%;
    height: 90vh;
    overflow: scroll;
}
#shopping-basket-products{
    overflow: scroll;
}
.shopping-basket-product{
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 3fr 1fr;
    grid-template-rows: max-content min-content;
    padding-top: 5px;
    padding-bottom: 10px;
    grid-template-areas: "name price remove"
    "info price remove";
    background-color: black;
    color: white;
    margin-bottom: .5rem;
}
.shopping-basket-product-name{
    grid-area: name;
    justify-self: start;
    align-self: center;
    margin-left: 1rem;
}
.shopping-basket-product-info{
    grid-area: info;
    font-size: .85rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shopping-basket-product-creator{
    align-self: start;
    justify-self: start;
    margin-left: 1rem;
}
.shopping-basket-product-size{
    align-self: start;
    justify-self: start;
    margin-left: 1rem;
    color: rgb(200,200,200);
}
.shopping-basket-product-price{
    font-size: 2rem;
    grid-area: price;
    align-self: center;
}
.shopping-basket-product-remove{
    height: 100%!important;
    display: grid;
    place-items: center!important;
    grid-area: remove;
}
#shopping-basket-totals{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.shopping-basket-proceed{
    place-self: center;
    height: 100%;
}
.go-to-products{
    cursor: pointer;
    color: rgb(80,80,80);
    transition: .15s;
}
.go-to-products:hover{
    color: rgb(110,110,110);
}