@media screen and (min-width: 1224px) {
    #shopping-basket{
        width: 50%!important;
        place-self: center!important;
    }
    #shopping-basket-totals{
        width: 50%!important;
    }
    .shopping-basket-total-work{ justify-self: start;}
    .shopping-basket-product-name{
        width: initial!important;
    }
    .shopping-basket-proceed{
        place-self: end!important;
    }
}

#shopping-basket{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-rows: min-content auto;
}
#shopping-basket-products{
    align-self: start;
    padding-bottom: 10vh;
}
.shopping-basket-product{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 40% 3fr 1fr;
    grid-template-rows: max-content min-content;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-template-areas: "image name price remove"
                        "image info price remove";
    background-color: black;
    color: white;
    margin-bottom: .5rem;
}
.shopping-basket-product-image{
    height: 60px;
    width: 60px;
    object-fit: cover;
    place-self: center;
    margin-left: 10px;
    grid-area: image;
}
.shopping-basket-product-name{
    grid-area: name;
    width: inherit;
    justify-self: start;
    align-self: center;
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
}
.shopping-basket-product-info{
    grid-area: info;
    font-size: .85rem;
    display: flex;
    padding-left: 20px;
}
.shopping-basket-product-creator{
    align-self: start;
    justify-self: start;
}
.shopping-basket-product-size{
    align-self: start;
    justify-self: start;
    margin-left: 1rem;
    color: rgb(200,200,200);
}
.shopping-basket-product-price{
    font-size: 2rem;
    grid-area: price;
    align-self: center;
}
.shopping-basket-product-remove{
    height: 100%!important;
    display: grid;
    place-items: center!important;
    grid-area: remove;
}
#shopping-basket-totals{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    position: fixed;
    align-self: end;
    bottom: 0px;
    width: 100%;
    padding: 1rem 0;
}
.shopping-basket-proceed{
    place-self: center;
    height: 100%;
}
.go-to-products{
    cursor: pointer;
    color: rgb(80,80,80);
    transition: .15s;
}
.go-to-products:hover{
    color: rgb(110,110,110);
}