@media(min-width: 992px) {
    #create-account-parent {
        width: 50vw !important;
        margin: auto;
    }
}

@media(min-width: 1200px) {
    #create-account-parent {
        width: 40vw !important;
        margin: auto;
    }
}

#create-account-form {
    padding: 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}
