@media screen and (min-width: 1224px) {
    #edit-product{
        width: 40%!important;
        justify-self: center!important;
    }
    #creator-portal-iamges{
        width: 100%!important;
    }
    .product-upload-image{
        height: 50vh!important;
        object-fit: conver;
    }
    .custom-upload-creator-carousel{
        height: 50vh!important;
    }
}

#edit-image-order{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#edit-product{
    height: fit-content;
    padding: 0rem 1rem 2rem 1rem;
    width: 100%;   
}
#creator-portal-images{
    height: auto;
}
.creator-portalproduct-upload-image{
    width: 100%;
}