.admin-upload-image-order-image {
    height: 10vh;
    width: 100%;
    object-fit: cover;
    grid-area: adminUploadImageOrder;
}
.admin-empty-slide > img{ transition: .15s; }
.admin-empty-slide:hover > img{
    filter: brightness(1.5);
}

.admin-upload-image-order {
    display: grid;
    grid-template-areas: "adminUploadImageOrder";
}

.admin-upload-image-order-input {
    grid-area: adminUploadImageOrder;
    place-self: center;
    opacity: 0.6;
}
