#home-slide {
    position: relative;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#home-page-header {
    position: absolute;
    top: 45%;
    left: 50vw;
    transform: translate(-50%);
    color: white;
    text-align: center;
}

#home-page-header-second {
    font-weight: 100;
    font-style: italic;
    color: rgb(210, 210, 210);
}

#home-page-small-text {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 300;
    color: rgb(180, 180, 180);
}

#home-page-header-text > * {
    font-size: 4rem;
}

.gatekeeper-social {
    text-decoration: none;
    color: black;
}

.gatekeeper-social:hover {
    color: rgb(80, 80, 80);
}

.gatekeeper-slide-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 25px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.home-slide {
    height: 100vh;
    position: absolute;
    width: 100vw;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.home-gatekeeper-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: opacity(0.6);
    z-index: -10;
}

.gatekeeper-name-shop {
    margin-left: 15px;
    margin-right: 15px;
}

.even-slide {
    flex-direction: row;
    top: 50vh;
}
.odd-slide {
    flex-direction: row-reverse;
    top: 50vh;
}

.arrow-home {
    transform: translate(-50%);
    color: black;
    cursor: pointer;
    margin-bottom: -1.5rem;
    animation: fade 1.5s infinite;
}

.down-arrow-home-parent {
    position: absolute;
    left: 50vw;
    top: 91vh;
}

.up-arrow-home-parent {
    top: 1vh;
    position: absolute;
    left: 50vw;
}

.arrow-home.white {
    color: white;
}

.up-arrow-home-parent > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.down-arrow-home-parent > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#initial-home-slide-parent {
    position: absolute;
    top: 0;
}
