@media screen and (min-width: 1224px) {
    #upload{
        width: 50%!important;
        justify-self: center!important;
    }
}

#upload{
    height: auto;
    padding: 3rem;
    overflow: scroll;
}
#no-images{
    width: 100%!important;
    height: 100%;
    background-color: rgb(220,220,220);
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: .15s;
}
#no-images:hover{ background-color: rgb(205,205,205); }
#product-images {
    display: grid;
    width: 100%;
    grid-auto-flow: row;
}

.product-upload-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.no-outline{
    outline: none!important;
}
.product-upload-remove{
    position: relative;
    top: calc(0px - 30vh / 2);
    left: 0;
    z-index: 100;
    background-color: white!important;
}
.date-input-upload-form{
    border: 1px solid black!important;
    border-radius: 0px;
    font-size: .9rem!important;
    padding: .4rem .8rem .4rem .8rem;
    width: 100%;
    box-shadow: none!important;
    outline: none!important;
}
.date-input-upload-form:focus{
    border-width: 3px!important;
}