#profile{
    height: 90vh;
    width: 100vw;
    display: grid;
    align-content: center;
    padding: 1.5rem;
}
.order-names{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.profile-page-order{
    display: grid;
    grid-template-columns: 70% auto auto;
    font-size: .9rem;
}