#creator-page{
    position: absolute;
    top: 12%;
}
#creator-own-products{
    width: 100vw;
    display: grid;
    padding: 1rem;
}
.creator-own-product{
    display: grid;
    height: 40vh;
    grid-template-rows: 80% 20%;
    place-items: center;
}
.creator-own-product-image{
    height: 100%;
    object-fit: cover;
    width: 80%;
    margin-bottom: 1rem;
}
.creator-own-product-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
